@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap');

:root {
	--main: #9bb7d4;
	--accent: #ec776a;
	--green: #035a53;
	--yellow: #ece802;
}

body {
	margin: 0;
	background-color: var(--main);
	font-family: 'Comfortaa', cursive;
}

.green {
	color: var(--green);
}
.red {
	color: var(--yellow);
}
.container {
	margin: 20px auto auto auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 70%;
	text-align: center;
}

.heading {
	font-family: 'Comfortaa', cursive;
	font-size: 2em;
}
.navContainer {
	display: flex;
	justify-content: space-between;
}
.link {
	text-decoration: none;
	color: var(--green);
}
.ul {
	list-style-type: none;
}
.second-ul {
	padding: 20px;
	margin: 10px 0;
}
.loginDiv {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
}
.loginBtn {
	margin: 10px;
	padding: 5px;
	width: 100%;
}

.text-area {
	padding: 5px;
	opacity: 0.4;
	background-color: #b6d8d58f;
	border: none;
	font-family: 'Comfortaa', cursive;
	font-size: 1.2em;
	width: 100%;
}

.button {
	font-family: 'Comfortaa', cursive;
	background-color: #035a5365;
	border-radius: 10px;
	border: none;
	padding: 10px 15px;
	font-size: 1.1em;
	margin-left: 3px;
	color: #022e2a;
}

.user-input-container {
	display: flex;
	margin-top: 20px;
}

.text-color {
	color: white;
}

.preview-div {
	font-size: 1.2em;
	height: 5em;
}

.speed-info-container {
	display: flex;
	justify-content: space-between;
	padding: 40px;
}

.large-text {
	font-size: 2em;
}

.user-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: white;
}

.sign-in-container {
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: auto;
	color: white;
}
